<html>
<head>
<title> Home </title>
{% load staticfiles %}
<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/FantasyStocks/jquery-ui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/FantasyStocks/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/FantasyStocks/style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/FantasyStocks/flag.ico' %}">
<!-- JS -->
	<script src="{% static 'js/FantasyStocks/jquery-1.10.2.js' %}"></script>
	<script src="{% static 'js/FantasyStocks/jquery-ui.js' %}"></script>
	<script src="{% static 'js/FantasyStocks/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/FantasyStocks/highstock.js' %}"></script>
	<script src="{% static 'js/FantasyStocks/exporting.js' %}"></script>
	<script src="{% static 'js/FantasyStocks/ryan.js' %}"></script>
</head>
<body>
	<div class="shell">
		<header>
			<div class="headerlogo">
				<div class="menu">
		        <img class="menuimg" src="{% static 'img/FantasyStocks/menu.png' %}" alt="menubutton">
		    </div>
			</div>
			<div class="headertitle">
				[LOGO]
			</div>
			<div class="headeruser">
				[USER]
			</div>
		</header>
		<div class="top">
			#Squad
			<span class="right">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Summary
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#">Forum</a></li>
				    <li><a href="#">Add Stocks</a></li>
				    <li><a href="#">Recommendations</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#">Analytics</a></li>
				  </ul>
				</div>
		</div>
		<div class="middlebottom">
		<br>
			Goals <br>
			<div class="row">
				Invest in tech stocks and become rich like gangstas
			</div>
		</div>
		<br>
		<div class="middleright">
			Holdings
			<div id="pie">
			</div>
		</div>
		<div class="middle">
			Members <br>
			<div class="row">
				Ruffdawg69
			</div>
			<div class="row">
				RDuncR
			</div>
			<div class="row">
				BlueBoy27
			</div>
			<div class="row">
				UnicornWizurd
			</div>
			<div class="row">
				Wahoof9
			</div>
		</div>
		<div class="scorerow">
			Performance
			<br>
			<div class="scores">
				Return
					<div class="scoresbold" style="color:#008000;">
						9%
					</div>
			</div>
			<div class="scores">
				Risk
				<div class="scoresbold" style="color:#990000;">
					High
				</div>
			</div>
			<div class="scores">
				Ratio
				<div class="scoresbold" style="color:#008000;">
					+.75
				</div>
			</div>
			<div class="scores">
				Holdings
				<div class="scoresbold" style="color:#990000;">
					3
				</div>
			</div>
		</div>
		<div class="bottom">
			<div id="container">
			</div>
		</div>
	</div>
</body>
